
*.ini

batch-convert.jar
plugins/*.jar
plugins/*plugins/

/bin/
/code/bin/
/code/build/
/code/comp-manifest
/code/manifest

hs_err_*.log
checkstyle-cachefile
config.ini.junit

code/build.eclipse/
code/manifest-tests
pcgendev.iml

outputsheets/d20/*/htmlxml/*.htm

pcgen.exe
pcgen.jar
pcgen.sh
pcgen.log
pcgen.log.*
pcgen_low_mem.bat

/output/
/build/
/libs/
/code/testsuite/output/
.gradle/
pcgen-batch-convert.jar
/.metadata
/Trunk.bat
/target/
/.settings/
/variable_report.csv
/variable_report.html

.idea/

/data/customsources/*
!data/customsources/readme-customsources.txt
/.nb-gradle/
/jre/
/installers/win-installer/project.nsh
/installers/win-installer/includes/constants.nsh
/.checkstyle
/installers/win-installer/includes/data.nsh
/.nb-gradle-properties

.classpath
.project
