# Local PCGen configuration files (these are created when you run PCGen from the root dir)
*.ini
config.ini.junit
.settings/

# Batch converter
batch-convert.jar

# Plugins
plugins/*.jar
plugins/*plugins/

# characters that you might create, see the .gitignore file in that folder
characters/*

# JVM Error log if Java craches
hs_err_*.log

# Checkstyle configuration
checkstyle-cachefile
.checkstyle

code/build.eclipse/
code/manifest-tests


# Exclude equipment and party sheets (which are generated?)
outputsheets/d20/*/htmlxml/eqsheet*.htm
outputsheets/d20/*/htmlxml/psheet*.htm

# Custom shell and batch scripts
pcgen.sh
pcgen_low_mem.bat
Trunk.bat

# Generated Logs
pcgen.log
pcgen.log.*
variable_report.csv
variable_report.html

# Binaries / Binary folders produced by the build
pcgen.exe
pcgen.jar
output/
build/
libs/
code/testsuite/output/
.gradle/
pcgen-batch-convert.jar
.metadata
bin/
code/bin/
code/build/
code/comp-manifest
code/manifest
target/

# Data we want to exclude, see .gitignore files within
data/customsources/*
!data/customsources/readme-customsources.txt

# Installers

installers/win-installer/project.nsh
installers/win-installer/includes/constants.nsh
installers/win-installer/includes/data.nsh

# Netbeans IDE
.nb-gradle/
.nb-gradle-properties

# Eclipse IDE
.classpath
.project

# IntelliJ IDE
.idea/
out/
pcgendev.iml

# pmd
/.pmd
/.ruleset

# Misc
jre/