# Local PCGen configuration files (these are created when you run PCGen from the root dir)
/pcgen.ini
/config.ini
/config.ini.junit
.settings/
/settings/

# Batch converter
batch-convert.jar

# Plugins
plugins/*.jar
plugins/*plugins/

# characters that you might create, see the .gitignore file in that folder
characters/*
!characters/CodeMonkey.pcg
!characters/Everything.pcg
!characters/Sorcerer.pcg
!characters/SpecialWizard.pcg

# JVM Error log if Java craches
hs_err_*.log

# Checkstyle configuration
checkstyle-cachefile
.checkstyle

# Exclude most? equipment and party sheets (which are generated?)
outputsheets/d20/*/htmlxml/eqsheet*.htm
outputsheets/d20/*/htmlxml/psheet*.htm
!outputsheets/d20/fantasy_craft/htmlxml/psheet_fantasy_std.htm
!outputsheets/d20/fantasy_craft/htmlxml/eqsheet_fantasy_std.htm
!outputsheets/d20/fantasy/htmlxml/eqsheet_fantasy_consumables.htm
!outputsheets/d20/fantasy/htmlxml/eqsheet_fantasy_std.htm
!outputsheets/d20/fantasy/htmlxml/psheet_fantasy_std.htm
!outputsheets/d20/fantasy/htmlxml/psheet_fantasy_std_PFRPG.htm
!outputsheets/d20/modern/htmlxml/psheet_modern_std.htm
!outputsheets/d20/modern/htmlxml/eqsheet_modern_std.htm

# Custom shell and batch scripts
/pcgen.sh
pcgen_low_mem.bat
Trunk.bat

# Generated Logs
pcgen.log
pcgen.log.*
variable_report.csv
variable_report.html

# Binaries / Binary folders produced by the build
pcgen.exe
pcgen.jar
/output/
/build/
/libs/
code/testsuite/output/
.gradle/
pcgen-batch-convert.jar
.metadata
bin/
code/bin/
code/build/
code/comp-manifest
code/manifest
target/

# Data we want to exclude, see .gitignore files within
data/customsources/*
!data/customsources/readme-customsources.txt
!data/homebrew/readme.txt
!data/homebrew/conversion_support/
!data/homebrew/my_pathfinder_campaign/

# Installers
installers/win-installer/project.nsh
installers/win-installer/includes/constants.nsh
installers/win-installer/includes/data.nsh

# Netbeans IDE
.nb-gradle/
.nb-gradle-properties

# Eclipse IDE
.classpath
.project
code/build.eclipse/

# IntelliJ IDE
.idea/
out/
pcgendev.iml
pcgen.iml

# pmd
/.pmd
/.ruleset

# Misc
jre/
code/manifest-tests
.DS_Store

