# Run a short(ish) test run on travis-ci after each commit

language: java
jdk:
  - oraclejdk7
script: ./gradlew clean build test datatest pfinttest

before_install:
 - sudo apt-get update
 - sudo apt-get install lib32z1 lib32ncurses5
 - chmod +x gradlew