# Run tests run on travis-ci after each commit and before each merge

language: java
dist: trusty

matrix:
  include:
    - os: linux
      jdk: openjdk11
  allow_failures:  
      - os: osx
        osx_image: xcode9
 
script: ./gradlew clean build test compileSlowtest datatest pfinttest allReports buildDist buildNsis pcgenRelease
# Do not use itest, requires release notes

before_install:
    - sudo apt-get update
    - sudo apt-get install lib32z1 lib32ncurses5 nsis
    - export PERL_MM_USE_DEFAULT=1
    - chmod +x gradlew
    - if [[ $TRAVIS_OS_NAME == 'linux' ]]; then sudo apt-get install scons mingw32 mingw32-binutils zlib1g-dev libcppunit-dev; fi
    - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then brew update; fi
    - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then brew install https://sourceforge.net/p/nsis/code/HEAD/tree/web-scripts/trunk/cppunit.rb?format=raw; fi
    - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then brew install scons mingw-w64 zlib; fi
 
install:
    - wget -O /tmp/zlib.zip "https://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib128-dll.zip?r=&ts=1403402496&use_mirror=hivelocity"
    - mkdir /tmp/zlib
    - unzip /tmp/zlib.zip -d /tmp/zlib
 
before_cache:
    - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
    - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    
before_deploy:
    # Build release files
    - ./gradlew pcgenRelease

deploy:
    provider: releases
  api_key:
    secure: blUnOKKmO2mypu8ZZwn6rGh0z78sZtRya6zsuqBQcysY+N/opeG9WpQQyergenrDW9M3NPUAsqNL+46SOIsbk/8M10txOaEjnuiGiq5UwRFZMkTbc3/0fGBZRVIHEcImmEkVqRZD6Fpr5j9nhm1MKoUjdr/QYBnQ4mmHtzHkrv4=
    file_glob: true
    file: "build/release/*"
    skip_cleanup: true
    on:
        #This make the deploy only happen when a tag is created.  
        tags: true
