<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" packagingData="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>VERSION</marker>
            </evaluator>
            <onMismatch>ACCEPT</onMismatch>
            <onMatch>DENY</onMatch>
        </filter>
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%thread %marker] %highlight(%level) %cyan([%d{ISO8601} @ %relative] [%C.%M %file:%line]) %gray(%logger{36}[%contextName]) - %msg%n%rEx{full}%mdc</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- allow configuring version information differently than regular log messages -->
    <appender name="HUMAN" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>VERSION</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <encoder>
            <pattern>[%thread] [%date{HH:mm:ss.SSS}] %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="HUMAN" />
    </root>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />-->
    <jmxConfigurator />

</configuration>
