<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!--  Facet Definitions -->
	<!-- A -->
	<!-- B -->
	<!-- C -->
	<bean id="bridgeFacet" class="pcgen.cdom.facet.CDOMObjectBridge"/>
	<bean id="consolidationFacet" class="pcgen.cdom.facet.CDOMObjectConsolidationFacet">
		<property name="bridgeFacet" ref="bridgeFacet"/>
	</bean>
	<bean id="sourceFacet" class="pcgen.cdom.facet.CDOMObjectSourceFacet">
		<property name="bridgeFacet" ref="bridgeFacet"/>
	</bean>
	<!-- D -->
	<!-- E -->
	<!-- F -->
	<bean id="formulaResolvingFacet" class="pcgen.cdom.facet.FormulaResolvingFacet" />
	<!-- G -->
	<!-- H -->
	<!-- I -->
	<!-- J -->
	<!-- K -->
	<!-- L -->
	<bean id="levelFacet" class="pcgen.cdom.facet.LevelFacet">
		<property name="templateFacet" ref="templateFacet"/>
		<property name="raceFacet" ref="raceFacet"/>
		<property name="resolveFacet" ref="formulaResolvingFacet"/>
	</bean>
	<bean id="levelTableFacet" class="pcgen.cdom.facet.LevelTableFacet">
		<property name="resolveFacet" ref="formulaResolvingFacet"/>
	</bean>
	<!-- M -->
	<!-- N -->
	<!-- O -->
	<!-- P -->
	<!-- Q -->
	<!-- R -->
	<bean id="raceFacet" class="pcgen.cdom.facet.RaceFacet" />
	<!-- S -->
	<!-- T -->
	<bean id="templateFacet" class="pcgen.cdom.facet.TemplateFacet"/>
	<!-- U -->
	<!-- V -->
	<!-- W -->
	<!-- X -->
	<bean id="xpFacet" class="pcgen.cdom.facet.XPFacet">
		<property name="levelFacet" ref="levelFacet"/>
		<property name="levelTableFacet" ref="levelTableFacet"/>
	</bean>
	<!-- Y -->
	<!-- Z -->

</beans>
