/* Colored Elements */
.color_header {
	background: #aaaacc;
}
.color_hilite {
	background: #eeeeff;
}
.bor_col_dark {
	border-color:#555588;
}
.bor_col_light {
	border-color:#cccccc;
}
.odd {
	background: white;
}
.even {
	background: #eeeeff;
}
