/* Colored Elements */
.color_header {
	background: #999999;
}
.color_hilite {
	background: #ffffff;
}
.bor_col_dark {
	border-color:#000000;
}
.bor_col_light {
	border-color:#cccccc;
}
.odd {
	background: white;
}
.even {
	background: #cccccc;
}
