<?xml version="1.0" encoding="ISO-8859-1"?> 
<document>
<properties>
  <title>Download Autobuild</title>  
</properties>  
<meta name="keyword" content="pcgen, autobuild, snapshot, download"/> 
<body>
 <section name="Download Autobuild">
 <p>
 The download is split into two parts, the libraries required by PCGen, which do not 
 change frequently, and everything else, which will change with each autobuild. Generally you 
 can use your previous copy of the libraries for each autobuild and only update if a 
 missing library is reported.
 <ul>
   <li><a href="download/pcgen-program-${project.version}-SNAPSHOT.zip">PCGen Autobuild - Program</a></li>
   <li><a href="download/pcgen-data-${project.version}-SNAPSHOT.zip">PCGen Autobuild - Data</a></li>
   <li><a href="download/pcgen-docs-${project.version}-SNAPSHOT.zip">PCGen Autobuild - Docs</a></li>
   <li><a href="download/pcgen-libraries-${project.version}-SNAPSHOT.zip">PCGen Libraries</a></li>
 </ul>
 </p>
 </section>
</body>
</document>


