<?xml version="1.0" encoding="ISO-8859-1"?> 
<document>
<properties>
  <title>Download Autobuild</title>  
</properties>  
<meta name="keyword" content="pcgen, autobuild, snapshot, download"/> 
<body>
 <section name="Download Autobuild">
 <p>
 The download is split into two parts, either a full distribution with everything needed to run CDOM UI demo 
 (apart from Java: Java 8 required) or the program patch which can be applied to an
 existing autobuild install to update it. Generally you can just patch your existing full distribution for each 
 autobuild and only grab the full distribution if a missing library is reported.
 </p><p>
 For details on the changes in this autobuild, see 
 <a href="http://ci.pcgen.org/jenkins/job/PCGen%20Nightly%20Build%20%28Trunk%29%20via%20Shell/changes" target="_blank">Nightly Build Changelog</a>
 <ul>
   <li><a href="downloads/pcgen-${project.version}-full.zip">PCGen Autobuild - Full Distribution</a> (35Mb)</li>
   <li><a href="downloads/pcgen-${project.version}-program.zip">PCGen Autobuild - Program</a></li>
 </ul>
Other portions of the full zip:
 <ul>
   <li><a href="downloads/pcgen-${project.version}-data.zip">PCGen Autobuild - Data</a></li>
   <li><a href="downloads/pcgen-${project.version}-docs.zip">PCGen Autobuild - Docs</a></li>
   <li><a href="downloads/pcgen-${project.version}-libraries.zip">PCGen Libraries</a></li>
 </ul>
 </p>
 </section>
</body>
</document>


